<div class="justify-center w-3/5 flex flex-col  mt-8 mx-auto">
<h1 class="text-center items-center font-bold text-4xl flex justify-center">{{blog.title}}</h1>
<div class="items-center flex flex-row">
    <div class="ml-[450px] mr-2 text-center mt-3 w-6 h-6 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-300">
        <span className="text-xs font-medium text-gray-600 dark:text-gray-300">{{name}}</span>
    </div>
    <p class="text-center text-sm mt-3"> Uploader : {{user.username}}</p>
    <p class="text-center text-sm mt-3 ml-2"> {{user.email}}</p>
</div>

<p class="text-center items-center text-2xl font-thin flex justify-center mt-10">{{blog.content}}</p>

</div>
