<app-header></app-header>
<div class="align-middle text-center flex flex-col w-1/2 ml-auto mr-auto h-screen mb-14">
    <h2 class="font-semibold mt-12 mb-5">Publish a Blog </h2>
    <input type="text" placeholder="Title" class="mb-5 border-solid border-2 rounded-lg border-black-500 p-4">
    <textarea placeholder="Content..." class="mb-11 h-72 border-solid border-2 rounded-lg border-black-500 p-4"></textarea>
    <button class="bg-black text-white mb-11 w-28 h-12 rounded-lg hover:bg-slate-700 ml-96">Publish</button>
</div>